body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff3333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

form {
    background-color: #000000;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-height: 700px;
    border-color: #000000;
}

h2 {
    color: #930606;
    margin-bottom: 10px;
    font-weight: bold;
}

h3 {
    color: #930606;
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; /* Ajustar el color de las etiquetas */
    font-size: 20px;

}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
   
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    align-self: center;
    display: inline;
}

input[type="text"] {
    background-color:  #870c0c69;
    border: 1px solid #a91717;
    color: #ff0000;
    width: 400px;
   
}

input[type="number"] {
    background-color:  #870c0c69;
    border: 1px solid #a91717;
    color: #ff0000;
    width: 200px;
   
}

input[type="text"]::after {
    border: 1px solid #39a917 !important;
    
}

#teamNameInput {
   /*visibility: hidden;*/
   display: none;
}

#next-button, #back-button {
    background-color: #ff5733;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 300ms ease-out, transform 300ms ease-out;
}

#next-button:hover, #back-button:hover {
    background-color: #ff1a00;
    transform: scale(0.98);
}

#next-button:active {
    background-color: #4a0606;
}

/* Otros estilos */

.radio-group label,
.preguntas-radio h3,
.mobility label,
.game-pieces label,
.grid-level label, 
.preference-options label{
    display: inline-flex;
    margin-right: 20px; /* Espaciado entre elementos de formulario */
}

.initial-position embed {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(200, 10, 10, 0.5);
}

.logo {
    width: 250px;
    display: block;
    align-content: start;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.radio-group {  
    display: inline-flex;
    margin: 20px;
}


select {
    display: inline-block;
    background-color: rgb(117, 13, 13);
    color: #fff;
    border: 2px solid #dd1212;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    box-shadow:0 0 30px 4px rgba(0, 0, 0, 0.652);
    margin: 10px;

}

select:hover {
    background-color: rgb(212, 47, 47);
    color: #0c0909;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}

#java {
    border-radius: 50px;
    width: 20px;
  }

.programming-language-input {
    display: none;

}

.programming-language-label {
    filter: grayscale(100%);
    height: 45px;
    width: auto;
    margin-top: 2px;

}

.programming-language-label:hover {
    filter: grayscale(0%);
    height: 55px;
    transition: height .5s, filter .5s;
    width: auto;

}

.programming-language-label:active {
    height: 40px;
    width: auto;
}



.radio-language-options {
    display: block;
    align-self: center;
    background-color: #000000;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    position: static;
    box-shadow:0 0 30px 4px rgba(0, 0, 0, 0.458);
    
}

.radio-language-options:hover {
    box-shadow:0 0 30px 4px rgba(0, 0, 0, 0.59);
    width: 310px;
    height: 70px;
}

label.radio-group {
    color: #ffffff;
}

.motorChassisLabel {
    color: white;
}

/*DRIVERSSSS*/

.preference-options {  
    display: inline-flex;
    margin: 20px;
}


.preferece-label {
    
    height: 45px;
    width: auto;
    margin-top: 2px;

}

/*AUTO SECTION*/

.autoQuestions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.submit-buttons {
    display: flex;
    width: 5%;
    align-self: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    
}
